$footer_height: 100px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer_height;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer_height;
    width: 100%;
}
